<template>
  <button @click="downloadCSV">Download CSV</button>
</template>

<script>
export default {
  methods: {
    async downloadCSV() {
      try {
        const response = await fetch('/adoption_data.json'); 
        const jsonData = await response.json();

        // Filter out duplicates based on the 'name' key, get the first occurrence which is the latest. 
        const uniqueData = [];
        const namesFound = new Set();
        jsonData.forEach(item => {
          if (!namesFound.has(item.path) && item.has_ci !== 0) {
            uniqueData.push(item);
            namesFound.add(item.path);
          }
        });

        // Convert JSON to CSV
        let csvContent = "data:text/csv;charset=utf-8,";
        
        // Adding titles (keys) as the first row
        const titles = Object.keys(uniqueData[0]);
        csvContent += titles.join(",") + "\r\n";

        uniqueData.forEach(row => {
          let rowContent = titles.map(key => {
            // Replace 0 with "False" and 1 with "True"
            let value = row[key];
            if (value === 0) value = "False";
            else if (value === 1) value = "True";

            return `"${value}"`; // Wrap value in quotes to handle commas in values
          }).join(",");
          csvContent += rowContent + "\r\n";
        });

        // Create a link to download the CSV
        const encodedUri = encodeURI(csvContent);
        const link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "adoption_data.csv");
        document.body.appendChild(link); 
        link.click();
        document.body.removeChild(link);
      } catch (error) {
        console.error('Error downloading CSV:', error);
      }
    }
  }
}
</script>
